@using LibraryDatabase.Models;
@{
    ViewBag.Title = "Search Books";
    List<Book> books = ViewBag.Books;
}

<div class="container">
    <div id="title" data-role="header" data-theme="b">
        <h1>Library Database</h1>
    </div>
    <div id="alphabetsList">
        <ul id="alphabets">
            @for (int i = 65; i <= 90; i++)
            {
                var alphabet = ((char)i).ToString();
                <li><a id="press" href="#" onclick="searchBooks('@alphabet');">@alphabet</a></li>
            }
        </ul>
        <button id="reset">Reset</button>
        <form method="post" action="@Url.Action("GetBook", "Book")" id="bookDetailForm">
            @Html.AntiForgeryToken()
            <input type="hidden" id="selectedBook" name="selectedBook" />
        </form>
    </div>

    <form method="post" action="@Url.Action("RunSelenium", "Book")" id="runSeleniumForm">
        @Html.AntiForgeryToken()
        <button type="submit">Run It</button>
    </form>

    <ul id="booknames"
        class="ui-listview ui-listview-inset ui-corner-all ui-shadow"
        data-role="listview"
        data-filter="true"
        data-filter-reveal="true"
        data-filter-placeholder="Search Books"
        data-inset="true">
        @for (int i = 0; i < books.Count; i++)
        {
            <li><a href="#" onclick="showBookDetail(@books[i].Id);">@books[i].Name</a></li>
        }
    </ul>

    <div id="bookDetail"></div>
</div>